*, p, ul, li, a{
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: none;
}

.container{
    max-width: 1566px;
    margin: 0 auto;
}

.main{
    max-width: 880px;
    margin: 0 auto;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

li{
    list-style: none;
}

.input-container{
    border: solid 0.7px #d3d3d3;
    background-color: #FFF;
    border-radius: 6px;
    font-size: 17.3px;
    padding: 18px;
    display: flex;
    margin-top: 16px;
    position: relative;
}

.input-container-sm{
    font-size: 11.5px;
    color: #9b9b9b;
    padding: 12px;
    margin: 0;
}


.input-container-sm .input-container__svg-container{
    width: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.input-container-sm button{
    border: none;
    background-color: transparent;
}

.input-container input{
    border: none;
    outline: none;
    font-weight: 600;
    width: 100%;
}

.input-container__svg-container{
    width: 26px;
    display: flex;
    justify-content: center;
    margin-right: 26px;
}

.input-container__svg-container__show-btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.contact-reviewer-btn{
    border: none;
    background-color: #bdbdbd;
    color: #FFF;
    padding: 6px 9px;
    font-size: 10.5px;
    border-radius: 3px;

}

.useful-btn{
    background: #d8d8d8;
    color: #4a4a4a;
    border: none;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 4px;
}

.share-btn, .report-btn{
    border: none;
    background-color: transparent;
    color: #787878;
    font-size: 14.4px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.share-btn:hover, .report-btn:hover{
    color: #ff4a49;
}

.share-btn img, .report-btn img{
    margin-right: 15px !important;
}

.useful-btn_not img{
    transform: rotate(180deg);
}
