*, p, ul, li, a{
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 100%;
}

.container{
    max-width: 1566px;
    margin: 0 auto;
}

.main{
    max-width: 856px;
    margin: 0 auto;
}

.main_sidebars{
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.google-ads__container{
    max-width: 941px;
    margin: 0 auto;
}

.main_sidebars .main__container{
    max-width: 856px;
    margin: 0rem 3.4rem;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

li{
    list-style: none;
}

.input-container{
    border: solid 0.7px #d3d3d3;
    background-color: #FFF;
    border-radius: 6px;
    font-size: 1.73rem;
    padding: 1.8rem;
    display: flex;
    margin-top: 1.6rem;
    position: relative;
}

.input-container-sm{
    font-size: 1.15rem;
    color: #9b9b9b;
    padding: 1.2rem;
    margin: 0;
}


.input-container-sm .input-container__svg-container{
    width: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 0.5rem;
}

.input-container-sm button{
    border: none;
    background-color: transparent;
}

.input-container input{
    border: none;
    outline: none;
    font-weight: 600;
    max-width: 90%;
}

.input-container__svg-container{
    width: 2.6rem;
    display: flex;
    justify-content: center;
    margin-right: 2.6rem;
}

.input-container__svg-container__show-btn{
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.input-file__container{
    padding: 0.8rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(176, 176, 176, 0.42);
    border-radius: 4px;
    width: max-content;
}

.input-file__container span{
    font-size: 1.2em;
    color: #a5a5a5;
    padding-left: 1em;
}

.input-file__container-inner{
    background-color: #ff4a49;
    color: #FFF;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0;
}

.input-file__container-inner p{
    font-size: 1.2em !important;
    padding: 0px 0px 0px 1em;
    margin: 0;

}

.input-file__container-inner{
    padding: 1.5rem 1.1rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.input-file__container input{
    display: none;

}
