*, p, ul, li, a{
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: none;
}

.container{
    max-width: 1566px;
    margin: 0 auto;
}

.main{
    max-width: 856px;
    margin: 0 auto;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

li{
    list-style: none;
}

.input-container{
    border: solid 0.7px #d3d3d3;
    background-color: #FFF;
    border-radius: 6px;
    font-size: 17.3px;
    padding: 18px;
    display: flex;
    margin-top: 16px;
    position: relative;
}

.input-container-sm{
    font-size: 11.5px;
    color: #9b9b9b;
    padding: 12px;
    margin: 0;
}


.input-container-sm .input-container__svg-container{
    width: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.input-container-sm button{
    border: none;
    background-color: transparent;
}

.input-container input{
    border: none;
    outline: none;
    font-weight: 600;
    width: 100%;
}

.input-container__svg-container{
    width: 26px;
    display: flex;
    justify-content: center;
    margin-right: 26px;
}

.input-container__svg-container__show-btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.input-file__container{
    padding: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(176, 176, 176, 0.42);
    border-radius: 4px;
    width: fit-content;
}

.input-file__container span{
    font-size: 15px;
    color: #a5a5a5;
    padding-left: 10px;
}

.input-file__container-inner{
    background-color: #ff4a49;
    color: #FFF;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0;
}

.input-file__container-inner p{
    font-size: 15px !important;
    padding: 0px 0px 0px 10px !important;
    margin: 0;

}

.input-file__container-inner{
    padding: 20px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.input-file__container input{
    display: none;

}
