.xs-btn{
    font-size: 11.3px;
    padding: 6.5px 13.5px;
    color: #FFF;
    font-family: "SF Text", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    border: solid 1px transparent;
}

.xs-btn-login{
    background: #ff4a49;
}

.lg-btn{
    font-size: 22px;
    background: #ff4a49;
    color: #FFF;
    justify-content: center;
    display: flex;
    padding: 23px 0px;
    font-weight: 600;
    font-family: "SF Text", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    border: solid 1px transparent;
}

.lg-btn a{
    color: #FFF;
    margin-left: 5px;
}

.xs-btn-signup{
    background: #0989d2;
}

.write-review__btn{
    font-size: 17px;
    font-weight: 600;
    padding: 13px;
    color: #FFF !important;
    background-color: #ff4a49;
    border: solid 1px transparent;
    font-family: "SF Text", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sign-up-btn{
    width: 100%;
    border: solid 1px transparent;
    font-family: "SF Text", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ff4a49;
    border: solid 1px transparent;
    color: #FFF;
    padding: 19px 0px;
    text-align: center;
    margin: 0px 0px 30px 0px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.1s ease-out;
}

.sign-up-btn:hover, .lg-btn:hover, .write-review__btn:hover, .write-review__btn:hover, .xs-btn-login:hover, .lg-btn:hover {
    color: #ff4a49 !important;
    background-color: transparent;
    border: solid 1px #ff4a49;

}

.xs-btn-signup:hover{
    color: #0989d2 !important;
    background-color: transparent;
    border: solid 1px #0989d2;

}

.contact-reviewer-btn{
    border: none;
    background-color: #bdbdbd;
    color: #FFF;
    padding: 6px 9px;
    font-size: 10.5px;
    border-radius: 3px;
    border: solid 1px transparent;

}

.contact-reviewer-btn:hover{
    background-color: transparent;
    color: #4a4a4a;
    border: solid 1px #4a4a4a;
}

.useful-btn{
    background: #d8d8d8;
    color: #4a4a4a;
    border: none;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 4px;
}

.share-btn, .report-btn{
    border: none;
    background-color: transparent;
    color: #787878;
    font-size: 14.4px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.share-btn:hover, .report-btn:hover{
    color: #ff4a49;
}

.share-btn img, .report-btn img{
    margin-right: 15px !important;
}

.useful-btn_not img{
    transform: rotate(180deg);
}
