  /* Create a custom checkbox */
  .checkbox-container{
    position: relative;
  }
  
  .checkmark {
    position: absolute;
    top: 0.35rem;
    left: 0;
    height: 1.06rem;
    width: 1.06rem;;
    background-color: transparent;
    border: solid 1px #495A5B;
    border-radius: 0.175rem;
    transition: 0.05s ease-in-out;
  }
  
  .checkbox-container input{
    display: none;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #C5D0DE;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container  input:checked ~ .checkmark {
    background-color: #76CBC6;
    border: solid 1px #76CBC6;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 0.35rem;
    top: 0.138rem;
    width: 0.27rem;
    height: 0.55rem;
    border: solid white;
    border-radius: 0.05rem;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
