.footer{
    background-color: #eef3f7;
    padding: 39px 85px;
}

.footer__logo{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1d1d1d;
}

.footer__company-description{
    font-size: 16px;
    padding: 14px 0px;
    max-width: 400px;
}

.footer__col-title{
    font-size: 24.5px;
    font-weight: 700;
}

.footer-menu{
    padding-top: 10px;
}

.footer__menu li{
    font-size: 18px;
    padding: 10px 0px;
    font-weight: 500;
}

.footer__menu a{
    color: #000;
}

.footer__menu li:nth-child(1){
    padding: 22px 0px 10px 0px;
}

.footer__menu .write-review__btn{
    margin: 10px 0px 0px 2px;
    display: block;
    width: fit-content;
}