@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
    html{
        font-size: 20px;
    }
    .home-auth-section_login .home-auth-section__row__left-col, .home-auth-section_signup .home-auth-section__row__left-col{
        background-size: auto;
        border-radius: 0px;
    }
    .home-auth-section__row__right-col h2{
        padding-top: 70px;
    }
    .home-auth-section__row__right-col form{
        margin-bottom: 60px;
    }
    .home-instructions__steps-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home-instructions__step:nth-child(2) {
        position: static;
    }
    .home-instructions__step{
        align-self: center;
        margin: 0px 0px 55px 0px;
    }
    .home-instructions__title{
        padding: 4rem 0rem 3rem 0rem;
    }
    .home-instructions__steps-container{
        padding-bottom: 4rem;
    }
    .home-trust-section__list{
        padding-bottom: 30px;
    }
    .home-trust-section__list li{
        text-align: center;
        list-style: none;
    }
    .home-trust-section__title{
        justify-content: center;
    }
    .home-trust-section__right-col{
        margin: 0 auto;
    }
    .home-trust-section__right-col img{
        margin: 0 auto;
        display: block;
        width: 100%;
        
    }
    .home-search-section__container h1{
        font-size: 1.55rem;
        text-align: center;
    }
    .main-search-result__block{
        padding: 0px 15px;
    }
    .sub-bar__col-result{
        justify-content: flex-start;
    }
    .rating-and-reviews__container{
        padding: 0px 10px;
    }
    .other-searches__span{
        padding: 25px 15px 0px;
        display: block;
    }
    .main-write-review__occupants{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .main-write-review__occupants > div:nth-child(1){
        padding-bottom: 20px;
    }
    .main-write-review__occupants .default-text {
        padding: 0px 52px 0px 0px;
    }
    .main-write-review__date{
        flex-direction: column;
    }
    .main-write-review__date > div{
        padding-bottom: 20px;
    }
    .main-write-review__occupants .default-text{
        padding: 0px 32px 0px 15px;
    }
    .main-write-review__date .default-text{
        padding-right: 32px;
    }
    .main-write-review__date{
        padding-left: 15px;
    }
    .main-write-review .custom-theme-select .select-selected{
        padding: 13px 10px;
        font-size: 14px;
        width: 280px;
    }
    .main-write-review__form .main-title{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    .top-bar__menu{
        margin-top: -6px;
    }
    .burger-menu{
        display: block;
    }
    .footer{
        padding: 1.7rem;
    }
    .footer__row .footer__col:nth-child(3){
        padding-top: 20px;
    }
    .home-search-section__container h1{
        font-size: 1.2rem;
    }
    .home-search-section__container p{
        font-size: 1rem;
        text-align: center;
        margin: 0.8rem;
    }
    .main-search-result .lg-btn {
        margin: 34px 15px 30px 15px;
    }
    .main-search-result .lg-btn{
        font-size: 19px;
        padding: 20px 20px;
    }
    .submit-review__btn span{
        display: none;
    }
    .slick-prev{
        left: 30%;
    }
    .slick-next{
        right: 30%;
    }
    .main__map iframe{
        height: 350px;
    }
    .main-write-review__form{
        margin: 0px 15px;
    }
    .single-apartament-section__rating-list-scale{
        width: 100%;
    }
    .single-apartament-section__rating-list-number{
        font-size: 18px !important;
        margin-top: -5px;
    }
    .main-single-apartament__block__published-time, .main-single-apartament__block__recommended, .main-single-apartament__block__verified{
        text-align: left;
        padding: 5px;
    }
    .rating-and-reviews__container, .write-review__container{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .main-single-apartament__search-container, .main__map{
        margin: 0px 10px;
    }
    .rating-and-reviews__container h1{
        padding: 10px 0px;
    }
    .write-review__container a{
        margin: 5px 0px;
    }
    .community-review-widget{
        padding: 38px 22px 33px 22px;
        flex-direction: column;
        text-align: center;
    }
    .community-review-widget > div{
        padding-bottom: 20px;
    }
    .main-write-review__experience-rating > .d-flex{
        flex-direction: column;
    }
    .main-write-review__experience-rating__block{
        width: 100%;
        padding-top: 20px !important;
    }

    .main-write-review__agree-container{
        flex-direction: column !important;
    }
    .main-write-review__agree-container span{
        padding-top: 40px;
    }
    .main-write-review__form .main-write-review__form__sub-title{
        font-size: 17px;
        padding: 36px 0px 20px 0px;
    }
}

@media screen and (max-width: 568px){
    .main-page-paragraph{
        padding: 0px 1.3rem;
    }
    .home-auth-section__row__right-col form {
        width: 100%;
    }
    .social-signup-container__button p{
        display: none;
    }
    .home-auth-section__row__left-col{
        padding: 108px 0px 120px 0px;
    }
    .home-auth-section_signup .social-signup-container {
        margin-bottom: 0px;
    }
    .home-search-section{
        padding: 9.1rem 0rem;
    }
    .home-trust-section__list li{
        font-size: 0.75rem;
        margin-left: 0;
    }
    .home-search-section .input-container {
        width: auto;
    }
    .slick-prev{
        left: 22%;
    }
    .slick-next{
        right: 22%;
    }
    .single-apartament-section__rating-list-scale{
        width: 100%;
    }
    .single-apartament-section__rating-list-number{
        font-size: 18px !important;
        margin-top: -5px;
    }
    .main-single-apartament__block__photos > div{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main-single-apartament__block__photos > div img{
        width: 48%;
        max-height: none;
        margin: 0px 5px 5px 0px;
    }
    .main-single-apartament__block {
        padding: 19px 6px;
        margin: 20px 10px 0px 10px;
    }
    .main-single-apartament__block__description{
        font-size: 14px;
    }
    .main-single-apartament__block__bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .main-single-apartament__block__bottom > div{
        padding-bottom: 10px;
    }
    .useful-btn_not{
        margin-left: 18px;
    }
    .main-single-apartament__block__stayed-span{
        white-space: nowrap;
    }
    .main-write-review__form label p{
        font-size: 16.5px;
    }
    .main-write-review__form{
        padding: 35px 25px;
    }
}

@media screen and (max-width: 440px){
    .top-bar{
        padding: 0.83rem 0.9rem 0.83rem 0rem;
    }
    .home-auth-section__row__left-col h1{
        padding-bottom: 3rem;
    }
    .sub-bar__col-review {
        padding: 0rem 0.75rem;
    }
    .top-bar__row__nav-col.active ul li {
        margin-right: 10px;
        margin-top: 8px;
    }
    .home-search-section .input-container {
        width: auto;
    }
    .slick-prev{
        left: 15%;
    }
    .slick-next{
        right: 15%;
    }
    .main-write-review__occupants .default-text {
        padding: 0px 17px 0px 10px;
    }
}

@media screen and (max-width: 992px){
    .top-bar__row__nav-col{
        position: absolute;
        opacity: 0;
        overflow: hidden;
        transform: translate(-50%, 0%);
    }
    .burger-menu{
        display: block;
    }
}

@media only screen and (min-width:320px) and (max-width: 374px) {
    html{
        font-size: 50%;
    }
}

@media only screen and (min-width:375px) and (max-width:568px) {
    html{
        font-size: 80%;
    }
}

@media only screen and (min-width:568px) and (max-width: 767px) {
    html{
        font-size: 70%;
    }
} 

@media only screen and (min-width:768px) and (max-width:991px) {
    html{
        font-size: 55%;
    }
} 

@media only screen and (min-width:992px) and (max-width:1199px) {
    html{
        font-size: 60%;
    }
}