.review-widget{
    background-color: #eef3f7;
    padding: 4.8rem 9.9rem 4.3rem 9.9rem;
    display: flex;
    justify-content: space-between;
    margin: 7rem 0px 2rem 0px;
    align-items: center;

}

.review-widget .main-title{
    padding: 0;
    text-transform: unset;
    line-height: 1;
}

.review-widget__description{
    font-size: 2.24rem;
    font-weight: 500;
    line-height: 1;
}