.main-search-result .lg-btn{
    margin: 54px 30px 50px 30px;
}

.main-search-result__block-title{
    font-size: 22px;
    font-weight: 700;
    color: #373737;
    padding-bottom: 8px;
}

.main-search-result__block-address, .main-search-result__block__params-container p{
    font-size: 16px;
    color: #373737;
    font-weight: 500;
}

.main-search-result__block__params-container{
    display: flex;
    padding: 30px 0px 10px 0px;
    align-items: center;
    justify-content: space-between;
}

.main-search-result__block__inner-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-search-result__block__inner-block{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0px 0px 4px 0px rgba(226, 226, 226, 0.5);
    border-radius: 4px;
}

.main-search-result__block__inner-block{
    margin: 0px 8px 0px 0px;
    outline: none;
}


.main-search-result__block__inner-block img{
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.main-search-result__block__inner-block__info{
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-color: #FFF;
}

.main-search-result__block__inner-block__title{
    font-size: 12.4px;
    font-weight: 600;
    padding-bottom: 9px;
    line-height: 1.25;

}

.star-icon{
    padding: 5px;
    background-color: #bdbdbd;
    margin-right: 5.5px;
    border-radius: 4px;
}

.star-icon.active{
    background-color:#0989d2;
}

.main-search-result__block__inner-block__reviewed{
    font-size: 8px;
    color: #4a4a4a;
    font-weight: 700;
}

.main-search-result__block__inner-block__reviewed span{
    font-weight: 500;
}

.main-search-result__block__inner-block__rating{
    font-weight: 600;
    font-size: 12px;
    color: #0989d2

}

.main-search-result__block__inner-block__description{
    font-size: 9px;
    font-weight: 500;
    color: #373737;
    margin-top: 17px;
}

.main-search-result__block__inner-block__published-time{
    font-size: 8px;
    color: #373737;
    font-weight: 500;
}

.main-search-result__block__inner-block__view-more__btn{
    background-color: #ff4a49;
    color: #FFF;
    font-size: 10px;
    padding: 8px 14px;
    border-radius: 4px;
    border: solid 1px transparent;
    transition: 0.1s ease-out;
    font-weight: 500;
}


.main-search-result__block__inner-block__view-more__btn:hover{
    color: #ff4a49;
    background-color: transparent;
    border: solid 1px #ff4a49;
}



.main-search-result__block__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

.main-search-result__block__pagination button, .main-search-result__block__pagination-link{
    color: #767676;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 11.5px;
    border-radius: 60px;
    margin: 0px 3px;
    border: none;
    background-color: transparent;
    outline: none;
}

.main-search-result__block__pagination-link.arrow:hover, .main-search-result__block__pagination li a.arrow.active{
    background-color: transparent;
}

.main-search-result__block__pagination li a.active{
    color: #FFF;
    background-color: #ff4a49;
}

.main-search-result__block__pagination li a:hover{
    color: #FFF;
    background-color: #f56161;
}

.main-search-result__block__pagination li.slick-active button{
    color: #FFF;
    background-color: #f56161;
}

.main-search-result .submit-review__btn{
    cursor: default;
}

.main-search-result .submit-review__btn a {
    color: #FFF;
}

.main-search-result .submit-review__btn a{
    border: solid 0px transparent !important;
}

.submit-review__btn:hover a{
    text-decoration: underline;
}

.slick-arrow{
    z-index: 1;
}

.slick-prev{
    z-index: 1;
    top: unset;
    bottom: 14px !important;
    left:35%;
}

.slick-next{
    z-index: 1;
    top: unset;
    bottom: 14px !important;
    right:35%;
}


.slick-prev:before, .slick-next:before{
    color: #000 !important;

}

.slick-prev:before{
    content: '1';
    background-image: url('../img/arrow-pagination.svg');
    background-repeat: no-repeat;
    color: transparent !important;
    width: 20px;
    height: 20px;
}

.slick-next:before{
    content: '1';
    background-image: url('../img/arrow-pagination-right.svg');
    background-repeat: no-repeat;
    color: transparent !important;
    width: 20px;
    height: 20px;
}

.submit-review__btn:hover a{
    color: #f56161;
}