.top-bar{
    padding: 0.83rem 2.38rem;
    background-color: #FFF;
    border-bottom: solid 1px #e2e2e2;
    justify-content: center;
}

.top-bar__nav-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-bar__nav-menu li a{
    font-size: 0.97rem;
    font-weight: 600;
    color: #8c8c8c;
}

.top-bar__nav-menu li a.active{
    color: #0989d2;
}
.top-bar__nav-menu li a:hover{
    color: #0989d2;
}

.top-bar__logo{
    font-size: 1.66rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "SF Text Bold";
    color: #1d1d1d;
}

.top-bar__menu ul{
    display: flex;
    justify-content: flex-end;
}

.top-bar__menu{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 0;
}

.top-bar__menu a{
    margin: 0rem 0.155rem;
    font-weight: 500;
}

.top-bar__row__nav-col{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;

}

.top-bar__user{
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    
}

.top-bar__user a{
    display: flex;
    align-items: center;
    font-size: 0.86rem;
    font-weight: 600;
    color: #8c8c8c;
}

.top-bar__user img{
    width: 2.22rem;
    height: 2.22rem;
    border-radius: 2.22rem;
    border: solid 1px #0989d2;
    margin-left: 15px;
}

.top-bar__row__nav-col.active{
    background-color: #FFF;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5px;
    z-index: 1;
    height: 60px;
    display: flex;
    opacity: 1;
}

.top-bar__row__nav-col.active ul{
    display: flex;
    justify-content: flex-start;
}

.top-bar__row__nav-col.active ul li{
    margin-right: 25px;
}